:root {
      --content-max-width: 70em !important;
      --docsify-example-panels-document-width: 70em;
      --docsify-example-panels-wrapper-width: 100%;
      --docsify-example-panels-left-panel-width : 50%;
      --docsify-example-panels-right-panel-width : 50%;
      
      
    }
    
    strong {
      font-weight: 700;
    }
    


    li, p {
      line-height: 1.5em;
      margin: 0 0 1em 0;
    }

    hr {
      margin: 0;
    }


    ::marker {
      color: var(--blockquote-border-color)
    }

    blockquote {
        margin: 0 0 2em 0 !important;
    }

    .hiddenHighlight{
      font-weight: 700;
    }

    @media print {
      :root {
        --content-max-width: 95em;
        --sidebar-width: 0;
      }
      details {
        visibility: hidden;
        display: none;
      }
      blockquote {
        padding: 0 0 1em 0 !important;
      }
      p, li {
        margin: 0  0 .5em 0 !important;
        line-height: 1em !important;
      }

      .sidebar, .sidebar-toggle-button, .hiddenHighlight, hr {
        visibility: hidden;
        display: none;
      }
      


    }
